### Method:

Load both sets of data to be manipulated: BeeData (BD), and Weather Data (WD)

Convert alphanumeric date/time into numeric only date/time.

In [19]:
import numpy as np
import pandas as pd #to use the panda's dataframe

df_WD = pd.read_csv("Weather_Scrape_Final.csv", sep=',', engine = 'python')
df_WD.describe

<bound method NDFrame.describe of                 Date      Time Temperature Dew Point Humidity Wind    Speed  \
0      April 4, 2016  12:00 AM      65.7 F    60.1 F     82 %   SW  0.0 mph
1      April 4, 2016  12:05 AM      65.3 F    60.1 F     83 %   SW  0.0 mph
2      April 4, 2016  12:11 AM      65.3 F    60.1 F     83 %   SW  0.0 mph
3      April 4, 2016  12:17 AM      65.3 F    60.1 F     83 %   SW  0.0 mph
4      April 4, 2016  12:23 AM      65.3 F    60.3 F     84 %   SW  0.0 mph
...              ...       ...         ...       ...      ...  ...      ...
2261  April 13, 2016  11:33 PM      63.1 F    62.2 F     97 %   SW  0.0 mph
2262  April 13, 2016  11:39 PM      62.6 F    61.7 F     97 %   SW  0.0 mph
2263  April 13, 2016  11:45 PM      62.2 F    61.7 F     98 %   SW  0.0 mph
2264  April 13, 2016  11:51 PM      62.2 F    61.7 F     98 %   SW  0.0 mph
2265  April 13, 2016  11:57 PM      62.1 F    61.5 F     98 %   SW  0.0 mph

         Gust  Pressure Precip.Rate. Precip. Accum.  UV           Solar
0     0.0 mph  30.11 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
1     0.0 mph  30.11 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
2     0.0 mph  30.11 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
3     0.0 mph  30.11 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
4     0.0 mph  30.10 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
...       ...       ...          ...            ...  ..             ...
2261  0.0 mph  30.22 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
2262  0.0 mph  30.22 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
2263  0.0 mph  30.22 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
2264  0.0 mph  30.22 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2
2265  0.0 mph  30.22 in      0.00 in        0.00 in   0  0 w/m\xc2\xb2

[2266 rows x 13 columns]>

### Combine the Date & Time Columns from Weather Data into a new Column with Numerical Format.

In [11]:
from datetime import timedelta
from datetime import datetime

pd.options.mode.chained_assignment = None  # default='warn', Turns off annoying warning

df_WD['datetime'] = '-' #Added a column called datetime to be used for the combined date time

#date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
#print (datetime.strptime('April 4, 2016', '%B %d, %Y'))
#print (datetime.strptime('12:41 PM', '%I:%M %p'))
#print (date_time_obj.date())
#print (date_time_obj.time())

for count in df_WD.index:
    #print (df_WD.datetime[count])
    temp_datetime = df_WD.Date[count] + ' ' + (df_WD.Time[count])
    #print(temp_datetime, end = ' ')
    #print(' Converted to ', end = ' ')
    #print(datetime.strptime(temp_datetime, '%B %d, %Y %I:%M %p'))
    df_WD.datetime[count] = (datetime.strftime(datetime.strptime(temp_datetime, '%B %d, %Y %I:%M %p'), '%Y-%m-%d %H:%M:%S'))

In [12]:
df_WD.head(5)

,Date,Time,Temperature,Dew Point,Humidity,Wind,Speed,Gust,Pressure,Precip.Rate.,Precip. Accum.,UV,Solar,datetime
0,"April 4, 2016",12:00 AM,65.7 F,60.1 F,82 %,SW,0.0 mph,0.0 mph,30.11 in,0.00 in,0.00 in,0,0 w/m\xc2\xb2,2016-04-04 00:00:00
1,"April 4, 2016",12:05 AM,65.3 F,60.1 F,83 %,SW,0.0 mph,0.0 mph,30.11 in,0.00 in,0.00 in,0,0 w/m\xc2\xb2,2016-04-04 00:05:00
2,"April 4, 2016",12:11 AM,65.3 F,60.1 F,83 %,SW,0.0 mph,0.0 mph,30.11 in,0.00 in,0.00 in,0,0 w/m\xc2\xb2,2016-04-04 00:11:00
3,"April 4, 2016",12:17 AM,65.3 F,60.1 F,83 %,SW,0.0 mph,0.0 mph,30.11 in,0.00 in,0.00 in,0,0 w/m\xc2\xb2,2016-04-04 00:17:00
4,"April 4, 2016",12:23 AM,65.3 F,60.3 F,84 %,SW,0.0 mph,0.0 mph,30.10 in,0.00 in,0.00 in,0,0 w/m\xc2\xb2,2016-04-04 00:23:00

### Loading a reduced data set nd verifying time stamp follows standard datetime format to allow for easy comparison.

In [17]:
df_BD = pd.read_csv("rfid_mysql_reduced.csv", sep=',', engine = 'python')
df_BD.head(20)

,uid,utctime,microseconds,original,omicroseconds,card,readerid,address,scancount,type,transition,ttype
0,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:01,536000,2005-01-29 19:57:01,536000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.000,start 44059
1,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:02,18000,2005-01-29 19:57:02,18000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.482,44059->44059
2,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:02,482000,2005-01-29 19:57:02,482000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.464,44059->44059
3,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:29,131000,2005-01-29 19:57:29,131000,Maja_2005-01-28_07-38-56,44064,4,1,177,26.649,44059->44064
4,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:29,627000,2005-01-29 19:57:29,627000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.496,44064->44064
5,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:30,122000,2005-01-29 19:57:30,122000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.495,44064->44064
6,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:30,613000,2005-01-29 19:57:30,613000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.491,44064->44064
7,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:31,108000,2005-01-29 19:57:31,108000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.495,44064->44064
8,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:32,642000,2005-01-29 19:57:32,642000,Maja_2005-01-28_07-38-56,44064,4,1,177,1.534,44064->44064
9,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:34,175000,2005-01-29 19:57:34,175000,Maja_2005-01-28_07-38-56,44064,4,1,177,1.533,44064->44064
10,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:34,703000,2005-01-29 19:57:34,703000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.528,44064->44064
11,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:35,193000,2005-01-29 19:57:35,193000,Maja_2005-01-28_07-38-56,44064,4,1,177,0.490,44064->44064
12,9F B2 92 05 08 00 12 E0,2016-04-04 15:24:44,606000,2005-01-29 19:57:44,606000,Maja_2005-01-28_07-38-56,44059,6,1,177,9.413,44064->44059
13,9F B2 92 05 08 00 12 E0,2016-04-04 15:25:16,142000,2005-01-29 19:58:16,142000,Maja_2005-01-28_07-38-56,44059,6,1,177,31.536,44059->44059
14,9F B2 92 05 08 00 12 E0,2016-04-04 15:25:16,632000,2005-01-29 19:58:16,632000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.490,44059->44059
15,9F B2 92 05 08 00 12 E0,2016-04-04 15:25:17,124000,2005-01-29 19:58:17,124000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.492,44059->44059
16,9F B2 92 05 08 00 12 E0,2016-04-04 15:25:17,619000,2005-01-29 19:58:17,619000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.495,44059->44059
17,9F B2 92 05 08 00 12 E0,2016-04-04 15:25:18,115000,2005-01-29 19:58:18,115000,Maja_2005-01-28_07-38-56,44059,6,1,177,0.496,44059->44059
18,9F B2 92 05 08 00 12 E0,2016-04-05 3:05:13,545000,2005-01-30 7:38:13,545000,Maja_2005-01-28_07-38-56,44064,4,1,177,41995.400,44059->44064
19,23 AA 92 05 08 00 12 E0,2016-04-12 4:40:58,941000,2005-02-06 9:13:58,941000,Maja_2005-02-05_07-11-45,44060,5,1,177,0.000,start 44060

Creating a function that takes Bee Data, WeatherData, Index Number

Find closest weather data time that matches.

In [14]:
conv_BD_date = datetime.strptime(df_BD.utctime[0], '%Y-%m-%d %H:%M:%S')
conv_WD_date = datetime.strptime(df_WD.datetime[0], '%Y-%m-%d %H:%M:%S')

conv_WD_date = datetime.strptime('2016-04-04 12:20:00', '%Y-%m-%d %H:%M:%S')

print (conv_BD_date)
print (conv_WD_date)
if (conv_WD_date - conv_BD_date) < timedelta(hours = 4):
    print ('less than 5')

2016-04-04 15:24:01
2016-04-04 12:20:00
less than 5

In [15]:
(conv_BD_date < conv_WD_date)
#timedelta(conv_BD_date)

False

conv_BD_date and conv_WD_date (convert and store string datetime)

Before starting the merge, the Bee Data must have the utctime sorted from oldest to recent in time to allow for efficient searching.

BeeData: 
    bdCount (index of Bee Data)

WeatherData: 
    wdCount (index of Weather Data), 
    closeCheck (time difference between utctime & datetime values), 
    prevCheck (stores previous comparison), 
    prevDir (stores whether incremented or decremented to current wdCount index)

# Weather Data and Bee Data merging code

bdCount = 0 # sets Bee Data index to the begining
wdCount = 0 # sets Wetaher Data index to the begining
currentCheck = 0 # initialize and set to 0
prevCheck = timedelta(days = 1000) # initialize and set to 1000 days so any comparison starts
prevDir = 0 # -1 is decrement, 1 is increment, 0 is neutral

loop
    conv_BD_date = converted BeeDataDateTime[bdCount]
    
    loop
        conv_WD_date = converted WeatherDateTime[wdCount]
        closeCheck = conv_BD_date - conv_WD_date #difference between the 2 dates
        
        if currentCheck < prevCheck
            wdCount ++  
            prevCheck = currentCheck
            prevDir = 1 #remembers it incremented
            
        elif currentCheck > prevCheck
            if prevDir == 1
                wdCount -- #go back to previous wdCount
                print ('Found closest match and merged')
                Merge Weather Data  [wdCount] with Bee Data [bdCount]
                prevCheck = timedelta(days = 1000) #reset
                break
            #prevCheck = currentCheck
            #prevDir = -1 #remembers it decremented
   
    increment bdCount until all rows of Bee Data are searched and paired
    continue loop

In [16]:
import time

#for count in df_WD
t0 = time.time()
count = 0
indexCount = 0

for BDCount in range(len(df_BD)):
    conv_BD_date = datetime.strptime(df_BD.utctime[BDCount], '%Y-%m-%d %H:%M:%S')
    #print (df_BD.utctime[BDCount])
    
    #  for WDCount in range(len(df_WD)):
    while True:
        conv_WD_date = datetime.strptime(df_WD.datetime[WDCount], '%Y-%m-%d %H:%M:%S')
        if (conv_BD_date - conv_WD_date) < timedelta(hours = 50):
                print(WDCount)
                indexCount = WDCount #save last known index to save time
                break
t1 = time.time()
print(t1 - t0)

NameError: name 'WDCount' is not defined